<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name='description' content='WebRTC Reference App' />
		<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
		<script>var HOST_ADDRESS='<%= hostAddress %>';</script>  
		<script src='/socket.io/socket.io.js'></script>
		<script src='/js/lib/adapter.js'></script>
		<!--<script src="http://webrtc.github.io/adapter/adapter-latest.js"></script>-->
		<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>	
		<script src='/js/meeting.js'></script>
		<script src='/js/room.js'></script>
		
		<!-- Split-pane -->
		<link rel="stylesheet" href="/css/split-pane.css" />
		<script src='/js/split-pane.js'></script>
		
		<link rel="stylesheet" href="/css/room.css" />
		
		<link rel="stylesheet" href="/css/spinner.css" />
        <script>
           $(function() {
				$('div.split-pane').splitPane();
			});
        </script>
		
		<title>Video Conference</title>
	</head>
	<body>
		<div class="pretty-split-pane-frame"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->
			<div class="split-pane fixed-right">
				<div class="split-pane-component" id="left-component">
					<div class="pretty-split-pane-component-inner"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->
						<div id="videos">
							<div id="videosWrapper">
								<div id="remote-video" class="videoWrap">
									<div id="skype-loader-center">
									  <div class="skype-loader">
										<div class="dot">
										  <div class="first"></div>
										</div>
										<div class="dot"></div>
										<div class="dot"></div>
										<div class="dot"></div>
									  </div>
									</div>
									<video class="videoBox" id="remoteVideo" autoplay></video>
								</div>
								
								<div id="local-video" class="videoWrap">
									<video class="videoBox" id="localVideo" autoplay></video>
								</div>
							</div>
						</div> <!-- end videos -->
					</div>
				</div>
				<div class="split-pane-divider" id="my-divider"><div class="split-pane-divider-inner"></div></div>
				<div class="split-pane-component" id="right-component">
						
						<div class="split-pane fixed-bottom">
							<div class="split-pane-component" id="top-component">
								<div class="pretty-split-pane-component-inner"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->
									Chat
								</div>
							</div>
							
							<div class="split-pane-divider" id="my-divider-2"><div class="split-pane-divider-inner"></div></div>
							
							<div class="split-pane-component" id="bottom-component">
								<div class="pretty-split-pane-component-inner"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->
									<button type="button" onclick="next()">Next</button>
								</div>
							</div>
						</div>
						
				</div>
			<div class="split-pane-resize-shim" style="display: none;"></div></div>
		</div>
    </body>
</html>
