<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='description' content='WebRTC Reference App'>
    <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
    <script type="text/javascript">
		var HOST_ADDRESS='<%= hostAddress %>';
	</script>
    <script src='/socket.io/socket.io.js' type="text/javascript" ></script>
    <script src='/js/lib/adapter.js' type="text/javascript" ></script>
	<!--<script src="http://webrtc.github.io/adapter/adapter-latest.js"></script>-->

    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript" ></script>
    <script src='/js/meeting.js' type="text/javascript"></script>
    <script src='/js/room.js' type="text/javascript"></script>
	
	<!-- Split-pane -->
    <script src='/js/lib/split.js' type="text/javascript" ></script>
    <link rel="stylesheet" href="/css/room.css" type="text/css">
    <link rel="stylesheet" href="/css/spinner.css" type="text/css">
    <title>Video Conference</title>
</head>
<body>
	<div id="header">
		Header
		<button id="next-button" type="button" onclick="next()" class="button">Next</button>
	</div>
	
	<div id="container">
	    <div id="a" class="split split-horizontal">
			<div id="videos">
				<div id="videos-wrapper-cell">
					<div id="videos-wrapper">
						<div id="local-video-wrap" class='video-wrap'>
							<video class="video-box" id="local-video" autoplay></video>
						</div>
						<div id="remote-video-wrap" class='video-wrap'>
							<div id="spinner-loader-center">
								<div class="spinner-loader">
									<div class="dot">
										<div class="first"></div>
									</div>
									<div class="dot"></div>
									<div class="dot"></div>
									<div class="dot"></div>
								</div>
							</div>
							<video class="video-box" id="remote-video" autoplay></video>
						</div>
					</div>
				</div>
				
				<div id='video-controls'>
					<div id="video-controls-content">
						<section>
						  <input type="checkbox" id="checkbox-cam" checked />
						  <label id="toggle-cam-label" for="checkbox-cam" ></label>
						  
						  <p>Camera on</p>
						  <p>Camera off</p>
						</section>
						<section>
						  <input type="checkbox" id="checkbox-mic" checked />
						  <label id="toggle-mic-label" for="checkbox-mic"></label>
						  
						  <p>Microphone on</p>
						  <p>Microphone off</p>
						</section>
					</div>
				</div>
			
			</div>
	    </div>
	    
	    <div id="b" class="split split-horizontal">
			<div id="e" class="split content">
				<div id="chat">
	                <div id="chatMessages"></div>
				</div> <!-- /chat -->
			</div>
			<div id="f" class="split content">
				<textarea rows="1" disabled id="data-channel-send" placeholder="Message..."></textarea>
			</div>
	    </div>
	    
	    <footer><a href="/version.txt" target="blank">version</a></footer>
    </div>
</body>
</html>
