<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='description' content='WebRTC Reference App'>
    <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
    <script type="text/javascript">
		var HOST_ADDRESS='<%= hostAddress %>';
	</script>
    <script src='/socket.io/socket.io.js' type="text/javascript" ></script>
    <script src='/js/lib/temasys-adapter.js' type="text/javascript" ></script>
	<!--<script src="http://webrtc.github.io/adapter/adapter-latest.js"></script>-->

    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript" ></script>
    <script src='/js/meeting.js' type="text/javascript"></script>
    <script src='/js/room.js' type="text/javascript"></script>
	
	<!-- Split-pane -->
    <script src='/js/lib/split.js' type="text/javascript" ></script>
    <link rel="stylesheet" href="/css/room.css" type="text/css">
    <link rel="stylesheet" href="/css/spinner.css" type="text/css">
    
    
    <!-- Overlay -->
    <script src="/js/lib/modernizr.custom.js"></script>
    <script src="/js/lib/classie.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/overlay.css" />
    
    <title>Video Conference</title>
</head>
<body>
<div id="fb-root"></div>
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
	  		if (d.getElementById(id)) return;
	  		js = d.createElement(s); js.id = id;
	  		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=911003665608602";
	  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<div id="header">
		<span class="logo"></span>
		<button id="next-button" type="button" onclick="next()" class="button">Next</button>
		<div tabindex="0" id="avatarsMenu" class="menuIcon bubbleMenu">
			<div id="avatarsContent" class="bubbleMenuContent">
				<div id="avatar-1" class="avatarIcon"></div>
				<div id="avatar-2" class="avatarIcon"></div>
				<div id="avatar-3" class="avatarIcon"></div>
				<br>
				<div id="avatar-4" class="avatarIcon"></div>
				<div id="avatar-5" class="avatarIcon"></div>
				<div id="avatar-6" class="avatarIcon"></div>
		    </div>  
		</div>
		
		<div class="fb-share-button" data-href="https://tengmo.chat" data-layout="button_count" data-size="large" data-mobile-iframe="true">
			<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftengmo.chat%2F&amp;src=sdkpreparse">Share</a>
		</div>
		
	</div>
	
	<div id="container">
	    <div id="a" class="split split-horizontal">
			<div id="videos">
				<div id="videos-wrapper-cell">
					<div id="videos-wrapper" class="">
						<div id="local-video-wrap" class='video-wrap single'>
							<video class="video-box" id="local-video" autoplay></video>
						</div>
						<div id="remote-video-wrap" class='video-wrap'>
							<div id="spinner-loader-center">
								<div class="spinner-loader">
									<div class="dot">
										<div class="first"></div>
									</div>
									<div class="dot"></div>
									<div class="dot"></div>
									<div class="dot"></div>
								</div>
							</div>
							<video class="video-box" id="remote-video" autoplay></video>
						</div>
					</div>
				</div>
				
				<div id='video-controls'>
					<div id="video-controls-content">
						<section>
						  <input type="checkbox" id="checkbox-cam" checked />
						  <label id="toggle-cam-label" for="checkbox-cam" ></label>
						  
						  <p>Camera on</p>
						  <p>Camera off</p>
						</section>
						<section>
						  <input type="checkbox" id="checkbox-mic" checked />
						  <label id="toggle-mic-label" for="checkbox-mic"></label>
						  
						  <p>Microphone on</p>
						  <p>Microphone off</p>
						</section>
					</div>
				</div>
			
			</div>
	    </div>
	    
	    <div id="b" class="split split-horizontal">
			<div id="e" class="split content">
				<div id="chat">
	                <div id="chat-messages"></div>
				</div> <!-- /chat -->
			</div>
			<div id="f" class="split content content-data-channel-send">
				<textarea rows="1" disabled id="data-channel-send" placeholder="Message..."></textarea>
			</div>
	    </div>
	    
	    <footer>
	    	<%if (environment == 'test') { %>
				<a href="/version.txt" target="blank">[build version]</a>
				<a href="/debug.log" target="blank">[debug log]</a>
				<a href="/exceptions.log" target="blank">[exceptions log]</a>
			<% } %>	    	
	    </footer>
    </div>
    
    <div class="overlay overlay-contentpush">
    	<div class="overlay-cell">
	    	<section>
	    		<span class="logo"></span>
		    	Tengmo is a great way to meet new friends. When you use Tengmo, 
		    	we pick someone else at random and let you talk one-on-one. 
		    	To help you stay safe, chats are anonymous unless you tell someone 
		    	who you are, and you can stop a chat at any time.
				<nav>
					<ul>
						<li>
						<button id="next-button" class="button overlay-close" type="button">Start</button>
					</ul>
				</nav>
			</section>
		</div>
	</div>		
</body>
</html>
