<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='description' content='WebRTC Reference App'>
    <meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
    <script type="text/javascript">
		var HOST_ADDRESS='<%= hostAddress %>';
	</script>
    <script src='/socket.io/socket.io.js' type="text/javascript" ></script>
    <script src='/js/lib/adapter.js' type="text/javascript" ></script>
	<!--<script src="http://webrtc.github.io/adapter/adapter-latest.js"></script>-->

    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript" ></script>
    <script src='/js/meeting.js' type="text/javascript"></script>
    <script src='/js/room.js' type="text/javascript"></script>
	
	<!-- Split-pane -->
    <script src='/js/lib/split.js' type="text/javascript" ></script>
    <link rel="stylesheet" href="/css/room.css" type="text/css">
    <link rel="stylesheet" href="/css/spinner.css" type="text/css">
    <title>Video Conference</title>
</head>
<body>
	<div id="header">Header</div>
	
	<div id="container">
	    <div id="a" class="split split-horizontal">
	      <div id="c" class="split content split-content-left">
			<div class="videos-wrapper">
				<div class="video-box-wrapper">
					<div id="skype-loader-center">
						<div class="skype-loader">
							<div class="dot">
								<div class="first"></div>
							</div>
	
							<div class="dot"></div>
	
							<div class="dot"></div>
	
							<div class="dot"></div>
						</div>
					</div>
	
					<video class="video-box" id="remote-video" autoplay></video>
				</div>
			</div>
		  </div>
	      <div id="d" class="split content split-content-left">
			<div class="videos-wrapper local-videos-wrapper">
				<div class="video-box-wrapper">
					<video class="video-box" id="local-video" autoplay></video>
				</div>
			</div>
			<div id="local-video-controls">controls</div>
		  </div>
	    </div>
	    
	    <div id="b" class="split split-horizontal">
			<div id="e" class="split content">
				<div id="chat">
	                <div id="chatMessages"></div>
				</div> <!-- /chat -->
			</div>
			<div id="f" class="split content">
				<input type="text" disabled id="dataChannelSend" placeholder="Message..."></input>
				<button type="button" onclick="next()">Next</button>
			</div>
	    </div>
	    
	    <footer><a href="/version.txt" target="blank">version</a></footer>
    </div>
</body>
</html>
